*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: auto;
}
.promo{
    display: flex;
    align-items: center;
    justify-content: center;
    background:red;
    cursor: pointer;
    color: white;
}
.promo-content{
    text-align: center;
}
.cancel-symbol{
    text-decoration: none; 
    color: white;
    font-size: 20px;
    vertical-align: middle;
}
.cancel-symbol:hover{
    cursor: pointer;
}

nav{
    background: white;
    width: 100%;
    padding: 8px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 0.2px solid red;
}
.logo{
    color: red;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
}

nav ul li{
    margin: 2px;
    font-size: 0.9rem;
    display: inline-block;
}
nav ul li a{
    color: black;;
    padding: 10px 20px;
    /* text-transform: uppercase; */
    letter-spacing: 1.2;
    cursor: pointer;
}

.nav i {
    /* font-size: 20px; */
    margin-left: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

#map {
    height: 400px;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    border: 1px solid #ccc;
}

#hospital-list {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hospital-list h2 {
    text-align: center;
}

#hospital-list ul {
    list-style-type: none;
    padding: 0;
}

#hospital-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#hospital-list li:last-child {
    border-bottom: none;
}

@media (max-width: 600px) {
    #map, #hospital-list {
        width: 95%;
    }
}